<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>darkthemeuid</key>
	<string>theme.fileimport.66B828BA-F944-4F89-92E9-622DE3EEDA63</string>
	<key>lightthemeuid</key>
	<string>theme.fileimport.EB152B7F-9E4C-43F8-8733-FDB460DCDDB8</string>
</dict>
</plist>
